</br>
</br>
<hr>
</br>
<footer class="footer">
  <div class="container">
    <p>&copy; 2019</p>
    <p class="text-muted"><a href="https://github.com/bhagyasree2895/node-express-mvc-ejs-start">Repository</a></p>
  </div>
</footer>