<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <h1>Home page</h1>
      <br>
      <h3>Watch the address bar.</h3>
      <p>Create GET requests using the address bar.</p>
      <hr>
      <h3>During development, test your api here. </h3>
      <br>
      <h1>BANK ORGANISATION Links</h1>
      <h4>Venkatesh Kunduru</h4>
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://localhost:8089/bankorg/findall">http://localhost:8089/bankorg/findall</a>
        </li>
        <li> <a href="http://localhost:8089/bankorg/findone/1">http://localhost:8089/bankorg/findone/1</a>
        </li>
        <li> <a href="https://tranquil-thicket-73280.herokuapp.com/bankorg/findall">https://tranquil-thicket-73280.herokuapp.com/bankorg/findall</a>
        </li>
        <li> <a href="http://tranquil-thicket-73280.herokuapp.com/bankorg/findone/3">http://tranquil-thicket-73280.herokuapp.com/bankorg/findone/3</a>
        </li>
        <li> <a href="http://tranquil-thicket-73280.herokuapp.com/bankorg/findone/4">http://tranquil-thicket-73280.herokuapp.com/bankorg/findone/4</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/bankorg">http://localhost:8089/bankorg</a>
        </li>
        <li>
          <a href="http://localhost:8089/bankorg/create">http://localhost:8089/bankorg/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/bankorg/edit/1">http://localhost:8089/bankorg/edit/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/bankorg/edit/2">http://localhost:8089/bankorg/edit/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/bankorg/edit/3">http://localhost:8089/bankorg/edit/3</a>
        </li>
        <li>
          <a href="http://localhost:8089/bankorg/edit/4">http://localhost:8089/bankorg/edit/4</a>
        </li>

        <li>
          <a href="http://localhost:8089/bankorg/delete/1">http://localhost:8089/bankorg/delete/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/bankorg/delete/2">http://localhost:8089/bankorg/delete/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/bankorg/delete/3">http://localhost:8089/bankorg/delete/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/bankorg/details/1">http://localhost:8089/bankorg/details/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/bankorg/details/2">http://localhost:8089/bankorg/details/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/bankorg/details/3">http://localhost:8089/bankorg/details/3</a>
        </li>
        <li> <a href="http://tranquil-thicket-73280.herokuapp.com/bankorg/details/4">http://tranquil-thicket-73280.herokuapp.com/bankorg/details/4</a>
        </li>
      </ol>
      <h1>ACCOUNT Links</h1>
      <h4>Bhagya Sree Chanda</h4>
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://localhost:8089/account/findall">http://localhost:8089/account/findall</a>
        </li>
        <li> <a href="http://tranquil-thicket-73280.herokuapp.com/account/findone/101">http://tranquil-thicket-73280.herokuapp.com/account/findone/101</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/101">http://localhost:8089/account/findone/101</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/102">http://localhost:8089/account/findone/102</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/103">http://localhost:8089/account/findone/103</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/104">http://localhost:8089/account/findone/104</a>
        </li>
        <li> <a href="http://tranquil-thicket-73280.herokuapp.com/account/findone/104">http://tranquil-thicket-73280.herokuapp.com/account/findone/104</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/account">http://localhost:8089/account</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/create">http://localhost:8089/account/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/edit/101">http://localhost:8089/account/edit/101</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/edit/102">http://localhost:8089/account/edit/102</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/edit/103">http://localhost:8089/account/edit/103</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/edit/104">http://localhost:8089/account/edit/104</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/delete/101">http://localhost:8089/account/delete/101</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/delete/102">http://localhost:8089/account/delete/102</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/delete/103">http://localhost:8089/account/delete/103</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/details/101">http://localhost:8089/account/details/101</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/details/102">http://localhost:8089/account/details/102</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/details/103">http://localhost:8089/account/details/103</a>
        </li>

      </ol>
      <br>
      <h1>transaction Links</h1>
      <h4>Meghna Reddy Kunta</h4>
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://localhost:8089/transaction/findall">http://localhost:8089/transaction/findall</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/201">http://localhost:8089/transaction/findone/201</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/202">http://localhost:8089/transaction/findone/202</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/203">http://localhost:8089/transaction/findone/203</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/204">http://localhost:8089/transaction/findone/204</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/transaction">http://localhost:8089/transaction</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/create">http://localhost:8089/transaction/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/transaction/edit/201">http://localhost:8089/transaction/edit/201</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/edit/202">http://localhost:8089/transaction/edit/202</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/edit/203">http://localhost:8089/transaction/edit/203</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/edit/204">http://localhost:8089/transaction/edit/204</a>
        </li>

        <li>
          <a href="http://localhost:8089/transaction/delete/201">http://localhost:8089/transaction/delete/201</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/delete/202">http://localhost:8089/transaction/delete/202</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/delete/203">http://localhost:8089/transaction/delete/203</a>
        </li>

        <li>
          <a href="http://localhost:8089/transaction/details/201">http://localhost:8089/transaction/details/201</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/details/202">http://localhost:8089/transaction/details/202</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/details/203">http://localhost:8089/transaction/details/203</a>
        </li>

      </ol>
      <br>
      <h1>category Links</h1>
      <h4>Sowmya Reddy Kumbham</h4>
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://localhost:8089/category/findall">http://localhost:8089/category/findall</a>
        </li>
        <li> <a href="http://localhost:8089/category/findone/1001">http://localhost:8089/category/findone/1001</a>
        </li>
        <li> <a href="http://localhost:8089/category/findone/1002">http://localhost:8089/category/findone/1002</a>
        </li>
        <li> <a href="http://localhost:8089/category/findone/1003">http://localhost:8089/category/findone/1003</a>
        </li>
        <li> <a href="http://localhost:8089/category/findone/1004">http://localhost:8089/category/findone/1004</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/category">http://localhost:8089/category</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/create">http://localhost:8089/category/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/category/edit/1001">http://localhost:8089/category/edit/1001</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/edit/1002">http://localhost:8089/category/edit/1002</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/edit/1003">http://localhost:8089/category/edit/1003</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/edit/1004">http://localhost:8089/category/edit/1004</a>
        </li>

        <li>
          <a href="http://localhost:8089/category/delete/1001">http://localhost:8089/category/delete/1001</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/delete/1002">http://localhost:8089/category/delete/1002</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/delete/1003">http://localhost:8089/category/delete/1003</a>
        </li>

        <li>
          <a href="http://localhost:8089/category/details/1001">http://localhost:8089/category/details/1001</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/details/1002">http://localhost:8089/category/details/1002</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/details/1003">http://localhost:8089/category/details/1003</a>
        </li>

      </ol>
      
    </div>
  </div>
</div>